body {
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #ffffff;
}

.container {
  max-width: 585px;
  margin: 0 auto;
  background: url(../img/4@3x.png) no-repeat center;
  background-size: cover;
  padding: 45px 20px 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 148px;
}

.close a {
  display: flex;
  align-items: center;
}

.restore a {
  font-family: "SFProText";
  font-size: 13px;
  line-height: 1.85;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.title.ru,
.title.fr,
.title.nl,
.title.es {
  font-size: 27px;
  margin-bottom: 46px;
}

.subtitles {
  margin-bottom: 50px;
}

.subtitle {
  display: flex;
  align-items: center;
}

.subtitle + .subtitle {
  margin-top: 9px;
}

.subtitle__text {
  margin-left: 5px;
  font-family: "SFProText";
  font-size: 17px;
  line-height: 1.4;
}

.subtitle__img {
  display: flex;
  align-items: center;
}

.cells {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  margin-bottom: 25px;
}

.cell {
  padding: 25px 0px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 131px;
  height: 162px;
  opacity: 0.5;
}

.cell:first-child {
  background: url("../img/shape-transparency.svg") no-repeat 50% 50%;
  background-size: contain;
}

.cell:last-child {
  position: relative;
  background: url("../img/shape-2-transparency.svg") no-repeat 50% 50%;
  background-size: contain;
}

.sale {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  border-radius: 50%;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 700;
}

.cell.activ {
  opacity: 1;
  transform: scale(1.1);
}

.cell__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
}

.cell__priceTop strong {
  font-size: 22px;
  line-height: 0.7;
  text-align: center;
}

.cell__priceTop {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}

.cell__label {
  text-align: center;
  width: 137px;
  padding: 2px 0px;
  background: #495795;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 55px;
  border-radius: 30px;
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 1.1;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 15px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__link a {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 1.1;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

/* Iphone 12 */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) {
  .header {
    margin-bottom: 154px;
  }

  .title {
    margin-bottom: 30px;
  }

  .title.ru,
  .title.fr,
  .title.nl,
  .title.es {
    margin-bottom: 56px;
  }

  .subtitle + .subtitle {
    margin-top: 12px;
  }

  .button {
    margin-bottom: 20px;
  }

  .footer__text {
    margin-bottom: 20px;
  }
}

/* Iphone 6+,7+,8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .container {
    padding: 30px 20px 25px;
  }
  .header {
    margin-bottom: 135px;
  }

  .title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  .title.ru,
  .title.fr,
  .title.nl,
  .title.es {
    margin-bottom: 37px;
  }

  .title.en,
  .title.ja,
  .title.zh {
    margin-bottom: 25px;
  }

  .subtitles {
    margin-bottom: 20px;
  }

  .footer__text {
    margin-bottom: 15px;
  }
}

/* Iphone 6,7,8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .container {
    background: url(../img/4@2x.png) no-repeat center;
    background-size: cover;
    padding: 25px 20px 35px;
  }

  .header {
    margin-bottom: 100px;
  }
  .title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .title.ru,
  .title.fr,
  .title.nl,
  .title.es {
    margin-bottom: 32px;
  }

  .subtitles {
    margin-bottom: 30px;
  }

  .subtitle + .subtitle {
    margin-top: 5px;
  }

  .subtitle__text {
    margin-left: 5px;
    font-family: "SFProText";
    font-size: 17px;
    line-height: 1.4;
  }

  .cells {
    padding: 0px 25px;
    margin-bottom: 20px;
  }

  .cell {
    padding: 20px 0px 10px;
    height: 152px;
  }
  .cell__title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .cell__priceTop strong {
    font-size: 20px;
  }

  .cell__priceTop {
    margin-bottom: 8px;
    font-size: 13px;
  }

  .cell__label {
    font-size: 13px;
    line-height: 15px;
  }

  .sale {
    top: 1px;
    right: 4px;
    width: 28px;
    height: 28px;
    font-size: 9px;
  }

  .button {
    height: 50px;
  }

  .footer__text {
    margin-bottom: 10px;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
  }

  .footer__link a {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 1.1;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
  }
}

/* Iphone 5,SE */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .container {
    background: url(../img/4@2x.png) no-repeat center;
    background-size: cover;
    padding: 20px 10px 20px;
  }

  .header {
    margin-bottom: 60px;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  }

  .title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .title.ru,
  .title.fr,
  .title.nl,
  .title.es {
    font-size: 24px;
    margin-bottom: 23px;
  }

  .subtitles {
    margin-bottom: 20px;
  }

  .subtitle__text {
    font-size: 14px;
    line-height: 1.2;
  }

  .cells {
    margin-bottom: 15px;
  }

  .cell {
    padding: 20px 0px 10px;
    width: 115px;
    height: 145px;
    opacity: 0.5;
  }

  .cell__title {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1;
  }

  .cell__priceTop strong {
    font-size: 20px;
  }

  .cell__label {
    width: 120px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
  }

  .sale {
    top: 3px;
    right: 0px;
    width: 26px;
    height: 26px;
    font-size: 8px;
  }

  .button {
    width: 260px;
    height: 50px;
    margin-bottom: 13px;
    font-size: 17px;
  }

  .footer__text {
    margin-bottom: 10px;
  }
}
